.gift-card-list-item {
	&__quantity {
		@media (max-width: $screen-xs-max) {
			position: absolute;
			top: 0.25em;
			left: 0.25em;
			height: auto;
		}
	}

  &__preview-img {
    width: 4rem;
    margin-right: 0.75em;
    border-radius: 4px;
  }
}