.pattern-bg {

  &--eat-in {
    background-size: 370px 391px;
    background-position: center bottom;
    background-image: url(~nandos-ordering/src/assets/img/order-setup-eat-in-bg-pattern.svg);
  }
}